{% extends 'base.html' %}
{% block content %}
<div class="flex-between">
    <h1>Add New Student</h1>
    <a href="{{ url_for('students') }}" class="btn" style="background:var(--bg-card); border:1px solid var(--border); color:var(--text-primary);"><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>

<div class="form-container">
    <form method="POST">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" name="name" placeholder="John Doe" required>
        </div>
        <div class="form-group">
            <label>Roll Number</label>
            <input type="text" name="roll" placeholder="e.g. CS03" required>
        </div>
        <div class="form-group">
            <label>Department</label>
            <input type="text" name="dept" placeholder="Computer Science" required>
        </div>
        <button type="submit" style="width: 100%; margin-top: 10px;">Save Student Record</button>
    </form>
</div>
{% endblock %}